[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "~=0.95.1"
uvicorn = "~=0.22.0"
websockets = "~=11.0.3"
black = "~=23.1.0"
isort = "~=5.10"
flake8 = "~=4.0"
ordered-set = "*"
sortedcontainers = "*"
pyqt6 = "*"
coverage = "*"
dataclasses-json = "*"

[dev-packages]
pytest = "~=7.3.1"
black = "~=23.1.0"
isort = "~=5.10"
flake8 = "~=4.0"

[requires]
python_version = "3.11"
python_full_version = "3.11.3"
